<div class="test_ride_form">
  <%= form_for(@test_ride) do |f| %>
    <% if @test_ride.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@test_ride.errors.count, "error") %> prohibited this test_ride from being saved:</h2>

        <ul>
        <% @test_ride.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <section class="form_section">
      <h2 class="thin_form_title">Schedule a Joy Ride</h2>
      <h5 class="subtitle">Contact Information</h5>
      <div class="the_fields">
        <div class="text_field half">
          <div class="gray_label fifth">
            <p>First Name</p>
          </div>
          <div class="text_field_content">
            <%= f.text_field :first, placeholder: 'John' %>
          </div>
          
        </div>
        <div class="text_field half">
          <div class="gray_label fifth">
            <p>Last Name</p>
          </div>
          <div class="text_field_content">
            <%= f.text_field :last, placeholder: 'Smith'%>
          </div>
        </div>
      </div>


      <div class="the_fields">
        <div class="text_field half">
          <div class="gray_label fifth">
            <p>Phone Number</p>
          </div>
          <div class="text_field_content">
            <%= f.text_field :phone, placeholder: '(000) 000-0000' %>
          </div>
        </div>
        <div class="text_field half">
          <div class="gray_label fifth">
            <p>Email Address</p>
          </div>
          <div class="text_field_content">
            <%= f.text_field :email, placeholder: 'you@example.com' %>
          </div>
        </div>
      </div>
    </section>

    <section class="form_section">
      <div class="the_fields">
        <div class="gray_label half">
          <p class="gray_label_content">Prefered Method of Contact</p>
        </div>
        
        <div class="red_checkbox quarter">
          
          <input name="test_ride[method_phone]" type="hidden" value="0">
          <input id="test_ride_method_phone" name="test_ride[method_phone]" type="checkbox" value="1">
          <label for="test_ride_method_phone">Phone</label>
          <div class="square"></div>
        </div>
        <div class="red_checkbox quarter">          
          <input name="test_ride[method_email]" type="hidden" value="0">
          <input id="test_ride_method_email" name="test_ride[method_email]" type="checkbox" value="1">
          <label for="test_ride_method_email">Email</label>
        </div>
      </div>

      <div class="the_fields">
        <div class="gray_label half">
          <p class="gray_label_content">Preferred Time of Day</p>
        </div>
        
        <div class="red_checkbox sixth">
          <input name="test_ride[morning]" type="hidden" value="0">
          <input id="test_ride_morning" name="test_ride[morning]" type="checkbox" value="1">
          <label for="test_ride_morning">Morning</label>
        </div>
        <div class="red_checkbox sixth">
            <input name="test_ride[afternoon]" type="hidden" value="0">
            <input id="test_ride_afternoon" name="test_ride[afternoon]" type="checkbox" value="1">
            <label for="test_ride_afternoon">Afternoon</label>
        </div>
        <div class="red_checkbox sixth">
            <input name="test_ride[evening]" type="hidden" value="0">
            <input id="test_ride_evening" name="test_ride[evening]" type="checkbox" value="1">
            <label for="test_ride_evening">Evening</label>
        </div>
      </div>
    </section>
    
    <section class="form_section">
      <div class="the_fields">
        <h3 class="gray_title">Tell us what car you're interested in, and we'll match you up with the best fit.</h3>
        <%= f.text_area :comments, class: 'text_area_content' %>
      </div>
    </section>
    <div class="actions">
      <input name="commit" type="submit" value="Submit Request">
    </div>
  <% end %>

</div>