<div class="test_ride_form">
  <%= form_for(@test_ride) do |f| %>
    <% if @test_ride.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@test_ride.errors.count, "error") %> prohibited this test_ride from being saved:</h2>

        <ul>
        <% @test_ride.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="group">
      <div class="mpg">
        <h4>Contact Information</h4>
        <div class="field">
          <div class="pref_cont">
            <label class="prefix">First Name</label>
          </div>
          <div class="input_cont">
            <%= f.text_field :first, placeholder: 'John' %>
          </div>
        </div>
        <div class="field">
          <div class="pref_cont">
            <label class="prefix">Last Name</label>
          </div>
          <div class="input_cont">
            <%= f.text_field :last, placeholder: 'Smith' %>
          </div>
        </div>
      </div>

      <div class="mpg">
        <div class="field">
          <div class="pref_cont">
            <label class="prefix">Phone Number</label>
          </div>
          <div class="input_cont">
            <%= f.text_field :phone, placeholder: '(000) 000-0000' %>
          </div>
        </div>
        <div class="field">
          <div class="pref_cont">
            <label class="prefix">Email Address</label>
          </div>
          <div class="input_cont">
            <%= f.text_field :email, placeholder: 'you@example.com' %>
          </div>
        </div>
      </div>


    </div>
    <div class="group">
      <div class="mpg">
        <h4>Prefered Method of Contact</h4>
        <div class="field">
          <p>Phone</p>
          <%= f.check_box :method_phone %>
        </div>
        <div class="field">
          <p>E-mail</p>
          <%= f.check_box :method_email %>
        </div>
      </div>
    </div>

    <div class="group">
      <div class="checkboxes">
        <h4>Preferred Time of Day</h4>
        <div class="field">
          <p>Morning:</p>
          <%= f.check_box :morning %>
        </div>
        <div class="field">
          <p>Afternoon</p>
          <%= f.check_box :afternoon %>
        </div>
        <div class="field">
          <p>Evening</p>
          <%= f.check_box :evening %>
        </div>
      </div>
    </div>
    
    <div class="group">
      <div class="field">
        <h4>Tell us what car you're interested in, and we'll match you up with the best fit.</h4>
        <%= f.text_area :comments %>
      </div>
    </div>
    <div class="actions">
      <input name="commit" type="submit" value="Submit">
    </div>
  <% end %>

</div>