<div class="container">
  <h1>Backups</h1>
  <% @imports.each do |import| %>
  <div class="backup<%= " latest" if import.latest %>">
    <h6>Last Import: <%= import.current.to_formatted_s(:long_ordinal) if import.current  %></h6><!-- 
--><h6>Initial Import: <%= import.import_time.to_formatted_s(:long_ordinal) if import.import_time %></h6><!-- 
--><h6 class="restore"><%= link_to 'Restore', restore_path(:import_id => import) %></h6>
    <%= link_to '×', import, method: :delete, data: { confirm: 'Are you sure?' }, class: 'close' %>
  </div>
  <% end %>
  <br>

  <%= link_to 'New Import', new_import_path %>

  <div>
    <%= form_tag import_latest_path do %>
      <%= submit_tag "Import Latest File", class: "button" %>
    <% end %>
  </div>
  <div>
    <%= form_tag import_ftp_path do %>
      <%= submit_tag "Import FTP File", class: "button" %>
    <% end %>
  </div>


</div>  