<div class="new_vehicle_form">
  <%= form_for(@new_vehicle) do |f| %>
    <% if @new_vehicle.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_vehicle.errors.count, "error") %> prohibited this new_vehicle from being saved:</h2>

        <ul>
        <% @new_vehicle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <section class="form_section">
      <h1 class="thin_form_title">Editing New Vehicle</h1>
      <div class="the_fields">
        <div class="text_field">
          <div class="gray_label fifth">
            <p>Name</p>
          </div>
          <div class="text_field_content">
            <%= f.text_field :name, placeholder: 'Name of the Vehicle' %>
          </div>
        </div>
      </div>
       
      <div class="the_fields"> 
        <div class="text_field">
          <div class="gray_label fifth">
            <p>vAuto Name</p>
          </div>
          <div class="text_field_content">
            <%= f.text_field :vauto_name, placeholder: 'vAuto Model Name of the Vehicle' %>
          </div>
        </div>
      </div>

      <div class="the_fields">
        <div class="text_field">
          <div class="gray_label fifth">
            <p>Headline</p>
          </div>
          <div class="text_field_content">
            <%= f.text_field :headline %>
          </div>
        </div>
      </div>

      <div class="the_fields">
        <div class="text_field">
          <div class="gray_label fifth">
            <p>MSRP</p>
          </div>
          <div class="text_field_content">
            <%= f.text_field :msrp, placeholder: 'Price of the Vehicle' %>
          </div>
        </div>
      </div>

      <div class="the_fields">
        <div class="text_field">
          <h5 class="subtitle">Description</h5>
          <%= f.text_area :description, class: 'tinymce', :rows => 1, :cols => 1 %>
        </div>
      </div>  

      <div class="the_fields">
        <h5 class="subtitle">Miles Per Gallon</h5>
        <div class="text_field half">
          <div class="gray_label fifth">
            <p>City</p>
          </div>
          <div class="text_field_content">
            <%= f.number_field :city_mpg %>
          </div>
        </div>
        
        <div class="text_field half">
          <div class="gray_label fifth">
            <p>Highway</p>
          </div>
          <div class="text_field_content">
            <%= f.number_field :highway_mpg %>
          </div>
        </div>
      </div>

        <div class="field two">
          <%= f.file_field :image %>
        </div>
        <div class="field two last">
          <%= f.collection_select :category_id, Category.find(:all), :id, :name, :prompt => "Select a Category" %>
        </div>
      </section>
        <div class="actions">
          <%= f.submit %>
        </div>
  <% end %>
</div>

<%= tinymce_assets %>
<%= tinymce %>