<div class="container">
	<h1 class="edit_main">Editing New Vehicle</h1>

	<%= render 'form' %>
	<div class="interiors">
    <h2>Interior Photo Sets</h2>
    <table>
      <% @new_vehicle.interiors.each do |interior| %>
        <tr>
          <td><%= interior.name %></td>
          <td><%= link_to 'Show', interior %></td>
          <td><%= link_to 'Edit', edit_interior_path(interior) %></td>
          <td><%= link_to 'Destroy', interior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>

    <br>

    <%= link_to 'New Interior Photo Set', new_interior_path(:new_vehicle_id => @new_vehicle) %>
  </div>

  <div class="exteriors">
    <h2>Exterior Photo Sets</h2>
    <table>
      <% @new_vehicle.exteriors.each do |exterior| %>
        <tr>
          <td><%= exterior.name %></td>
          <td><%= link_to 'Show', exterior %></td>
          <td><%= link_to 'Edit', edit_exterior_path(exterior) %></td>
          <td><%= link_to 'Destroy', exterior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>

    <br>

    <%= link_to 'New Exterior Photo Set', new_exterior_path(:new_vehicle_id => @new_vehicle) %>
  </div>
  <div class="package_cont">
    <h2>Packages</h2>
    <table>
      <thead>
        <tr>
          <th>Model</th>
          <th>Msrp</th>
          <th>City</th>
          <th>Hwy</th>
          <th>Features</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%  @new_vehicle.packages.each do |package| %>
          <tr>
            <td><%= package.model %></td>
            <td><%= package.msrp %></td>
            <td><%= package.city %></td>
            <td><%= package.hwy %></td>
            <td><%= package.features.html_safe %></td>
            <td><%= link_to 'Show', package %></td>
            <td><%= link_to 'Edit', edit_package_path(package) %></td>
            <td><%= link_to 'Destroy', package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Package', new_package_path(:new_vehicle_id => @new_vehicle) %>
  </div>
  <div class="edit_nav">
    <h4 class='link'><%= link_to 'Show', @new_vehicle %></h4> |
    <h4 class='link'><%= link_to 'Back', new_vehicles_path %></h4>
  </div>
	

</div>