<% provide(:title, 'New Vehicles') %>
<% for category in @categories %>
<div class="new_container">
  <h1 class="form_title new_title" id="<%= category.name.parameterize %>"><%= category.name %></h1>

  <% category.new_vehicles.order(:msrp).each do |new_vehicle| %><!--
    --><div class="newvehicle_grid">
      <%= link_to image_tag(new_vehicle.image_url), new_vehicle %>
      <h3 class="name"><%= link_to new_vehicle.name.html_safe, new_vehicle %></h3>

      <% inventory = Vehicle.where( newused: 'N', make: 'Nissan', model: new_vehicle.vauto_name ).order(:price).first %>
      <% if inventory %>
      <h4 class="price">$<%= number_with_delimiter(inventory.price) %></h4>
      <% else %>
      <h4 class="price">$<%= number_with_delimiter(new_vehicle.msrp) %></h4>
      <% end %>

      <% if signed_in? %>
      <h5 class="controls">
        <%= link_to 'Edit', edit_new_vehicle_path(new_vehicle) %> <!-- | <%= link_to 'Destroy', new_vehicle, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </h5>
      <% end %>
    </div><!--
  --><% end %>

</div>
<% end %>
  <%= link_to 'Add New Vehicle', new_new_vehicle_path if signed_in? %>
