<% provide(:title, 'New Vehicle: ' + @tmp) %>
<div class="container">
	<p id="notice"><%= notice %></p>

	<section class="newvehicle">
		<header>
			<div class="name">
			  <h4>2014 Nissan</h4>
			  <h1><%= @new_vehicle.name.html_safe %></h1>
			</div>
			<div class="count">
			  <h2 class="count"><% if @vauto_count > 5 %>More than <%= @vauto_count %> in stock.<% else %>Less than 5 in stock.<% end %></h2>
			</div>
			<div class="info">
				<div class="spec">
					<h3 class="title">Starting MSRP*</h3>
			  	<h3 class="content">$<%= number_with_delimiter(@new_vehicle.msrp) %></h3>
				</div>
				<div class="spec">
					<h3 class="title">City/Hwy MPG*</h3>
			  	<h3 class="content"><%= @new_vehicle.city_mpg %>/<%= @new_vehicle.highway_mpg %></h3>
				</div>
			</div>
		</header>
		<div class="description">
			<h2><%= @new_vehicle.headline %></h2>
			<p><%= @new_vehicle.description %></p>
		</div>
		<% if signed_in? %>
			<%= link_to 'Edit', edit_new_vehicle_path(@new_vehicle) %> |
			<%= link_to 'Back', new_vehicles_path %>
		<% end %>
		
		<% unless @new_vehicle.exteriors.empty? && @new_vehicle.interiors.empty? %>
	
			<% if @new_vehicle.exteriors.empty? %> 
			<div id="exterior-reel">
				<%= image_tag(@new_vehicle.image_url, class: 'full') %>
			</div>
				
			<% else %>
			<div class="threesixty_container">
				<div class="hint leave">Drag to Rotate</div>
				<img src="<%= @new_vehicle.exteriors.sort { |u| -u.photos.length }.first.photos.order(:name).first.image_url %>" width="950" height="535"
		      class="reel exterior"
		      id="exterior"
		      data-images="<% count = 0 %><% for photo in @new_vehicle.exteriors.sort { |u| -u.photos.length }.first.photos.order(:name) %><% count = count + 1 %><%= photo.image_url %><%= "," unless count == @new_vehicle.exteriors.sort { |u| -u.photos.length }.first.photos.length %><% if @new_vehicle.exteriors.sort { |u| -u.photos.length }.first.photos.length == 1 %>,<%= photo.image_url %><% end %><% end %>"
		      data-frames="<%= @new_vehicle.exteriors.sort { |u| -u.photos.length }.first.photos.length %>"
		      data-revolution="500"
		      data-preload="linear">

				<% end %>
				<% unless @new_vehicle.interiors.empty? %> 

		    <img src="<%= @new_vehicle.interiors.sort { |u| u.photos.length }.first.photos.order(:name).first.image_url %>" width="950" height="535"
		      class="reel interior off"
		      id="interior"
		      data-images="<% count = 0 %><% for photo in@new_vehicle.interiors.sort { |u| u.photos.length }.first.photos.order(:name) %><% count = count + 1 %><%= photo.image_url %><%= "," unless count == @new_vehicle.interiors.sort { |u| u.photos.length }.first.photos.length %><% if @new_vehicle.interiors.sort { |u| u.photos.length }.first.photos.length == 1 %>,<%= photo.image_url %><% end %><% end %>"
		      data-frames="<%= @new_vehicle.interiors.sort { |u| u.photos.length }.first.photos.length %>"
		      data-revolution="500"
		      data-preload="linear">	
				<% end %>


			</div>
			
	    <div class="labels">
	    	<% unless @new_vehicle.exteriors.empty? %> 
		    	<div class="exterior active">
		    		<% count = 0 %>
		    		<% @new_vehicle.exteriors.sort { |u| -u.photos.length }.each do |exterior| %>
		    		<% count = count + 1  %>
		    		<h5 class="name<% if count == 1  %> active<% end %>" id="<%= exterior.slug %>_label"><%= exterior.name %></h5>
		    		<% end %>
		    	</div>
	    	<% end %>

	    	<% unless @new_vehicle.interiors.empty? %> 
		    	<div class="interior">
		    		<% count = 0 %>
		    		<% @new_vehicle.interiors.sort { |u| u.photos.length }.each do |interior| %>
		    		<% count = count + 1  %>
		    		<h5 class="name<% if count == 1  %> active<% end %>" id="<%= interior.slug %>_label"><%= interior.name %></h5>
		    		<% end %>
		    	</div>
	    	<% end %>
	    </div>

			<div class="view_controls">
				<div class="int_ext">
		      <h5 class="title">Select View: </h5><h5 id="exterior-click" class="click active">Exterior</h5><h5 id="interior-click" class="click">Interior</h5>
		    </div>
		    <div class="views">
		    	<% unless @new_vehicle.exteriors.empty?  %>
			    	<div class="exterior-views">
			    		<h5 class="title">Select Color: </h5>
							<% @new_vehicle.exteriors.sort { |u| -u.photos.length }.each do |exterior| %>
								<div class="color"> 
									<div class="circle" id="<%= exterior.slug %>" style="background:<%= exterior.color %>"></div>
								</div>
							<% end %>
						</div>
					<% end %>
					<% unless @new_vehicle.interiors.empty? %>
						<div class="interior-views off">
							<h5 class="title">Select Color: </h5>
				      <% @new_vehicle.interiors.sort { |u| u.photos.length }.each do |interior| %>
				      	<div class="color">
				      		<div class="rectangle" id="<%= interior.slug %>" style="background:<%= interior.color %>"></div>
				      	</div>
							<% end %>
				    </div>
			    <% end %>
		    </div>
	    </div>


<%= javascript_tag do %>
$(document).ready(function() {



<% @new_vehicle.exteriors.sort { |u| u.photos.length }.each do |exterior| %>
	$('#<%= exterior.slug %>').click(function(){
	  	$('#exterior').reel('images', [<% count = 0 %><% for photo in exterior.photos.order(:name) %><% count = count + 1 %>'<%= photo.image_url %>'<%= "," unless count == exterior.photos.length %><% if exterior.photos.length == 1 %>
			,'<%= photo.image_url %>'<% end %><% end %>]);
	  	if( $('#exterior').reel('frame') > <%= exterior.photos.length %>){
				$('#exterior').reel('frame',<%= exterior.photos.length %>);
			}	
		$('#exterior').reel('frames', <%= exterior.photos.length %>);			  	
	  	$('.labels .exterior h5').removeClass('active');
		$('#<%= exterior.slug %>_label').addClass('active');
	  });
<% end %>

<% @new_vehicle.interiors.sort { |u| u.photos.length }.each do |interior| %>
	$('#<%= interior.slug %>').click(function(){
	  	$('#interior').reel('images', [<% count = 0 %><% for photo in interior.photos.order(:name) %><% count = count + 1 %>'<%= photo.image_url %>'<%= "," unless count == interior.photos.length %><% if interior.photos.length == 1 %>
			,'<%= photo.image_url %>'<% end %><% end %>]);
	  	
	  	if( $('#interior').reel('frame') > <%= interior.photos.length %>){
				$('#interior').reel('frame',<%= interior.photos.length %>);
			}	
			$('#interior').reel('frames', <%= interior.photos.length %>);			  	
		  $('.labels .interior h5').removeClass('active');
			$('#<%= interior.slug %>_label').addClass('active');
	  });
<% end %>
	var l = true;
	$("#exterior").bind("loaded", function() {
		if (l) {
    	$('.hint').removeClass("leave");
    }
    l = false;
  });
	$("#exterior").bind("down",function() {
    $('.hint').addClass("leave");
  });
  $("#interior").bind("down",function() {
    $('.hint').addClass("leave");
  });
  $('.hint').click(function() {
    $(this).addClass("leave");
  });
});
<% end %>
		<% end %> 
		<% if @new_vehicle.exteriors.empty? && @new_vehicle.interiors.empty? %>
			<%= image_tag(@new_vehicle.image_url, class: 'full reel exterior') %>
		<% end %>
	</section>
	
</div>

<div class="compare">
	<h2 class="title">Compare 2014 Nissan <%= @new_vehicle.name.html_safe %> Versions & Specs</h2>
	<div class="controllable">
		<div class="prev" id="square"><</div>
		<div class="next" id="square">></div>
	</div>
</div>

<div class="packages">
	<div class="label">
		<div class="model">
			<h4>Model</h4>
		</div>
		<div class="msrp">
			<h4>Msrp</h4>
		</div>
		<div class="mpg">
			<h4 class="not_mobile">Fuel Economy</h4>
			<h4 class="mobile">MPG</h4>
		</div>
		<div class="features">
			<h4>Features</h4>
		</div>
	</div><!-- 
	--><div id="owl-demo">
	<% for package in @new_vehicle.packages %>
		<div class="package">
			<div class="model">
				<h3><%= package.model %></h3>
			</div>
			<div class="msrp">
				<h6 class="label">Starting at</h6>
				<h3>$<%= number_with_delimiter(package.msrp) %></h3>
			</div>
			<div class="mpg">
				<h6 class="label">City/Hwy MPG*</h6>
				<h3><%= package.city %>/<%= package.hwy %></h3>
			</div>
			<div class="features">
				<%= package.features.html_safe %>
			</div>
			<div class="link">
				<%= link_to "> Feature Details", package.link if package.link %>
			</div>
		</div>
	<% end %>
	</div>
</div>
<div class="container">
	<div class="links">
		<a href="/scheduleajoyride" class="red_button"><h4>Schedule a Joy Ride</h4></a>
		<a href="/getapproved" class="red_button"><h4>Get Approved</h4></a>
	</div>
</div>