<% provide(:title, 'Home') %>
<div class="gray_back">
	<section class="main_top lazy" data-original="<%= asset_path('homemain.jpg') %>" style="background-image: url();">
		<div class="container home">
			<h1>Redesigned from the Ground Up</h1>
			<h4>A VISIONARY CAR COMPANY WITH LEGENDARY SERVICE.</h4>
			<div class="bottom_border_home"></div>
			<div class="prior"></div>
			<p>We took a hard look at the car dealership business, inside and out. So, when we opened our doors, it was with a new perspective, a retooling of the status quo. Because we know that buying a car is a big deal. With the largest Nissan inventory in the Midwest, we’re here to help you make the choice that’s best for you. At Nissan of Omaha, you’re in the driver’s seat. </p>
		</div>
	</section>	
</div>


<section class="specials">
	<div class="container">
		<div class="special">
			<%= link_to(image_tag('one-to-one.jpg'), 'http://www.nissanonetoonerewards.com') %>
		</div>
		<div class="special">
			<%= link_to(image_tag('service-icon.jpg'), getservice_path) %>
		</div>
		<div class="special">
			<%= link_to(image_tag('service-special.jpg'), service_path, id: 'my-link') %>
		</div>
	</div>
</section>

<div class="home_chairs" style="background-image: url(<%= asset_path('home_chairs.png') %>)">
	<div class="container">
		<div class="home_left">
			<p><span class="red_italic">Few purchases are exciting as a new car.</span> If you’re going to finance your vehicle, get a better idea of what to expect by applying now. Note that not all customers will qualify for all specials and annual percentage rate may vary. Feel free to get in touch — we’re here if you have any questions. </p>
			<p>We think the experience of driving a Nissan speaks for itself. Get behind the wheel today and see how it feels. </p>
			<div class="bottom_border"></div>
			<a href="/getapproved" class="red_button small"><p>Get Approved</p></a>
		</div>
	</div>
</div>

<div class="container">
	<div class="links">
		<a href="/scheduleajoyride" class="red_button big"><h4>Schedule a Joy Ride Today</h4></a>
	</div>
</div>

<%= javascript_tag do %>
  document.getElementById("my-link").onclick = function(e) {
    var left = (screen.width/2)-(600/2);
    var top = (screen.height/2)-(410/2);
    var myWindow = window.open("", "", "toolbar=no, resizable=no, width=600, height=410");
    myWindow.document.write('<%= image_tag('exp06302014_2495oil.jpg', width: '100%') %>');

    myWindow.moveTo(left, top);
    myWindow.document.title = "Oil Change Coupon";
    myWindow.print();
    return false;
  }

<% end %>