<%= form_for(@special) do |f| %>
  <% if @special.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@special.errors.count, "error") %> prohibited this special from being saved:</h2>

      <ul>
      <% @special.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section class="form_section">
  
  <div class="the_fields">
    <div class="text_field half">
      <div class="gray_label fifth">
        <p>Name</p>
      </div>
      <div class="text_field_content">
        <%= f.text_field :name, placeholder: 'Service Special' %>
      </div>
    </div>
    <div class="text_field half">
      <div class="gray_label fifth">
        <p>Price</p>
      </div>
      <div class="text_field_content">
        <%= f.text_field :price, placeholder: 'Price' %>
      </div>
    </div>
  </div>

  <div class="the_fields">
    <div class="text_field">
      <h5 class="subtitle">Description</h5>
      <%= f.text_area :description, class: 'tinymce', :rows => 1, :cols => 1 %>
    </div>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
</section>
<% end %>