<div class="container">
  <h1>Specials</h1>
      <% @specials.each do |special| %>

        <div class="individual_special<% unless special.photos.first.nil? %> photo" style="background-image:url(<%= special.photos.first.image_url %>);"><% else %>"<% end %>>
          <h2 class="title"><%= special.name %></h2>
          <p class="description"><%= special.description %></p>
          <h5 class="price"><%= special.price %></h5>
          <% if signed_in? %>
          <div class="controls">
            <%= link_to 'Show', special %> |
            <%= link_to 'Edit', edit_special_path(special) %> |
            <%= link_to 'Destroy', special, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <% end %>
        </div>
      <% end %>
  <%= link_to 'New Special', new_special_path %>
</div>