<% provide(:title, 'Used Vehicles') %>
<section class="main_top" style="background-image: url(<%= asset_path('used_cars.jpg') %>)">
  <div class="container used_main">
    <h2>THE EXPERIENCE IS ANYTHING BUT SECONDHAND</h2>
    <p>At Nissan of Omaha, our technicians prep each vehicle for the lot with a rigorous inspection, making sure you’re bringing home just what you expect. Buying used here doesn’t mean crossing your fingers and leaving with a bunch of unanswered questions. Our customer service training extends beyond the shiny new car showroom. Whatever your price range may be, we’ll help find a great match from our rotating, expansive selection of used and certified pre-owned vehicles. Come shop with us at Nissan of Omaha today. 
</h2>
  </div>
</section>

<div class="filter">
  <h3>Filter Your Results</h3>
</div>



<div ng-controller="VehiclesCtrl">
  <div class="controls">
    <div class="control">
      <h5 class="price-click">Price</h5>
      <ul class="price">
        <li><p ng-click="min_price='0'; max_price='2000'">$0 - $2,000</p></li>
        <li><p ng-click="min_price='2000'; max_price='5000'">$2,000 - $5,000</p></li>
        <li><p ng-click="min_price='5000'; max_price='10000'">$5,000 - $10,000</p></li>
        <li><p ng-click="min_price='10000'; max_price='100000'">$10,000 - Above</p></li>
        <li><p ng-click="min_price=''; max_price=''">Clear</p></li>
      </ul>
    </div>
    <div class="control">
      <h5 class="odometer-click">Mileage</h5>
      <ul class="odometer">
        <li><p ng-click="min_odometer='0'; max_odometer='25'">0-25k</p></li>
        <li><p ng-click="min_odometer='25'; max_odometer='50'">25k-50k</p></li>
        <li><p ng-click="min_odometer='50'; max_odometer='75'">50k-75k</p></li>
        <li><p ng-click="min_odometer='75'; max_odometer='1000'">75k-Above</p></li>
        <li><p ng-click="min_odometer=''; max_odometer=''">Clear</p></li>
      </ul>
    </div>
    <div class="control">
      <h5 class="make-click">Make</h5>
      <ul class="make">
        <% for m,k in @makes %>
        <li id="<%= m %>"><p ng-click="the_make='<%= m %>'; the_model=nil"><%= m %></p></li>
        <% end %>
        <li><p ng-click="the_make=nil">Clear</p></li>
      </ul>
    </div>
    <div class="control">
      <h5 class="model-click">Model</h5>
      <ul class="model">
        <% for m,k in @makes %>
        <li id="<%= m %>" class="model_group">
          <ul>
            <% for t in k %>
            <li><p ng-click="the_model='<%= t %>'"><%= t %></p></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        
      </ul>
    </div>
  </div>



  <div class="vehiclegroup">
    <div ng-show="loading">Loading Cars...</div>
    <ul class="vehicles">
      <li data-ng-repeat="item in items | orderBy:'-year' | filter:query | filter:priceFilter | filter:odometerFilter | filter:mpgFilter | filter:modelFilter | filter:makeFilter" class="repeat-item">
        <div class="vehicle" >
          <div class="top"><p class="year">{{item.year}}</p><p class="drive">{{item.drivetrain_desc}}</p></div>
          <div class="main">
            <img src="{{item.photos[0]}}" />
            <!-- <h4><a href="vehicles/{{$index + 1}}">{{item.make}} {{item.model }}</a></h4> -->
            <!-- <h4><a href="/usedvehicle">{{item.make}} {{item.model }}</a></h4> -->
            <h4><a href="/vehicles/{{item.id}}">{{item.make}} {{item.model }}</a></h4>
            <p class="price">{{item.price | currency:"$"}}</p>
            <div class="bottom">
              <p class="mpg">{{item.city_mpg}}/{{item.highway_mpg}}</p>
              <p class="mileage">{{item.mileage }} k</p>
            </div>
          </div>
        </div>
      </li> 
    </ul>
  </div>
</div>