<div class="row">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Make:</strong>
	  <%= @vehicle.make %>
	</p>

	<p>
	  <strong>Model:</strong>
	  <%= @vehicle.model %>
	</p>

	<p>
	  <strong>Year:</strong>
	  <%= @vehicle.year %>
	</p>
	<p>
	  <strong>VIN:</strong>
	  <%= @vehicle.vin %>
	</p>

	<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
	<%= link_to 'Back', vehicles_path %>
</div>