<% provide(:title, 'Used Vehicle: ' + @vehicle.make + ' ' + @vehicle.model + ' VIN: ' + @vehicle.vin) %>
<div class="container">
	<p id="notice"><%= notice %></p>

	<div class="head">
		<h2 class="used-title"><%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %></h2>
		<h2 class="used-price">$<%= number_with_delimiter(@vehicle.price) %></h2>
	</div>
	<div class="prior"></div>
	<% if signed_in? %>
	<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
	<%= link_to 'Back', vehicles_path %>
	<% end %>
	<div id="gallery" class="royalSlider rsUni">
		<% for p in @vehicle.photos %>
	  <a class="rsImg" data-rsbigimg="<%= p %>" href="<%= p %>">Vincent van Gogh - Still Life: Vase with Twelve Sunflowers<img width="96" height="72" class="rsTmb" src="<%= p %>"></a>
	  <% end %>
	</div>

	<div class="stats">
		<div class="left">
			<div class="spec">
				<div class="spec_title">
					<h5>Mileage</h5>
				</div>
				<div class="spec_info">
					<h3><%= @vehicle.odometer %></h3>
				</div>
			</div>
			<div class="spec">
				<div class="spec_title">
					<h5>Fuel Economy</h5>
				</div>
				<div class="spec_info">
					<h4 class="spec_header">City/Hwy MPG*</h4>
					<h3><%= @vehicle.city_mpg %>/<%= @vehicle.highway_mpg %></h3>
				</div>
			</div>
				<div class="spec">
				<div class="spec_title">
					<h5>Transmission</h5>
				</div>
				<div class="spec_info">
					<h3><%= @vehicle.transmission %></h3>
				</div>
			</div>
		</div>


		<div class="right">
			<div class="spec">
				<div class="spec_title">
					<h5>Engine</h5>
				</div>
				<div class="spec_info">
					<h3><%= @vehicle.engine_displacement %>-liter <%= @vehicle.engine_cylinder_ct %> cylinder</h3>
				</div>
			</div>
			<div class="spec">
				<div class="spec_title">
					<h5>VIN:</h5>
				</div>
				<div class="spec_info">
					<h3><%= @vehicle.vin %></h3>
				</div>
			</div>
			<div class="spec">
				<div class="spec_title">
					<h5>Stock #</h5>
				</div>
				<div class="spec_info">
					<h3><%= @vehicle.stock_ %></h3>
				</div>
			</div>
		</div>
	</div>

	<div class="links">
<!-- 		<a href="#" class="red_button"><h4>Full Specs</h4></a> -->
		<a href="/scheduleajoyride" class="red_button"><h4>Schedule a Joy Ride</h4></a>
		<a href="/getapproved" class="red_button"><h4>Get Approved</h4></a>
	</div>

	<%= javascript_tag do %> 
		jQuery(document).ready(function() {
		  $('#gallery').royalSlider({
		    fullscreen: {
		      enabled: true,
		      nativeFS: true
		    },
		    controlNavigation: 'thumbnails',
		    thumbs: {
		      orientation: 'vertical',
		      paddingBottom: 4,
		      appendSpan: true
		    },
		    transitionType:'fade',
		    autoScaleSlider: true, 
		    autoScaleSliderWidth: 960,     
		    autoScaleSliderHeight: 600,
		    loop: true,
		    arrowsNav: false,
		    keyboardNavEnabled: true

		  });
		});
	<% end %>
</div>