<div class="top-callout">
	<div class="maps">
		<a href="https://www.google.com/maps/place/Nissan+of+Omaha/"><h4>Get Directions</h4></a>
	</div>
	<div class="phone">
		<a href="tel:4024934000"><h4>(402) 493-4000</h4></a>
	</div>
</div>
<div class="main-navigation">
	<nav>
		<div class="logo">
			<a href="/"><%= image_tag("logo.png") %></a>
		</div>
		<div class="lines-button" type="button" role="button">
		  <span class="lines"></span>
		</div>
		<ul class="menu">
			<li>
				<a href="#" class="different-click" ><h4>How We're Different</h4></a>
				<div class="different">
					<a href="/philosophy" class="media"><h4>Our Philosophy</h4></a>
					<a href="/facility" class="media"><h4>Facility</h4></a>
					<a href="/joinourteam" class="media"><h4>Join Our Team</h4></a>
				</div>
			</li>
			<li>
				<%= link_to "<h4>New Vehicles</h4>".html_safe, new_vehicles_url, class: active_class?(new_vehicles_url), class: " new-dropdown-click" %>
				<div class="new-dropdown">
					<% for category in @categories %>
					<%= link_to "<h4>".html_safe + category.name + "</h4>".html_safe, '/new#' + category.name.parameterize, class: 'media' unless current_page?(new_vehicles_url)%>
					<%= link_to "<h4>".html_safe + category.name + "</h4>".html_safe, '#' + category.name.parameterize, class: 'media' if current_page?(new_vehicles_url)%>
					<% end %>
				</div>
			</li>
			<li><%= link_to "<h4>Used Vehicles</h4>".html_safe, usedvehicles_url, class: active_class?(usedvehicles_url) %></li>
			<li><a href="/service"><h4>Service</h4></a></li>

			<li class="icon">
				<a href="#" class="new_chat_click" ><span class="top-icon icon-bubble" ></span></a>
			</li>
			<li class="icon">
				<a href="#" class="phone-click" ><span class="top-icon icon-phone"></span></a>
				<div class="phone">
					<a href="tel:18882111543"><h4>Sales: 1 (888) 211-1543</h4></a>
					<a href="tel:18882104132"><h4>Service: 1 (888) 210-4132</h4></a>
					<a href="tel:18882073226"><h4>Parts: 1 (888) 207-3226</h4></a>
				</div>
			</li>
			<li class="icon">
				<a href="#" class="location-click" ><span class="top-icon icon-location"></span></a>
				<div class="location">
					<h3 class="title"><span>Find us: </span>17410 Burt Street Omaha, NE 68118</h3>
					<div id="map-canvas" style="width: 100%; height: 200px"></div
				</div>
			</li>
			<% if signed_in? %>
			<li><%= link_to "<h4>Sign Out</h4>".html_safe, sign_out_path, :method => :delete %></li>
			<% else %>
			<% end %>
		</ul>

		
		<ul class="mobile-menu">
			<li>
				<a href="#" class="mobile-different-click" ><h4>How We're Different</h4></a>
				<div class="mobile-different">
					<a href="/philosophy" class="media"><h4>Our Philosophy</h4></a>
					<a href="/facility" class="media"><h4>Facility</h4></a>
					<a href="/joinourteam" class="media"><h4>Join Our Team</h4></a>
				</div>
			</li>
			<li>
				<%= link_to "<h4>New Vehicles</h4>".html_safe, new_vehicles_url, class: active_class?(new_vehicles_url) %>
			</li>
			<li><%= link_to "<h4>Used Vehicles</h4>".html_safe, usedvehicles_url, class: active_class?(usedvehicles_url) %></li>
			<li><a href="/service"><h4>Service</h4></a></li>
			<% if signed_in? %>
			<li><%= link_to "<h4>Sign Out</h4>".html_safe, sign_out_path, :method => :delete %></li>
			<% end %>
			<li>
				<div class="call">
					<ul>
						<li><a href="tel:18882111543"><span class="icon-phone">Sales</span></a></li>
						<li><a href="tel:18882104132"><span class="icon-phone">Service</span></a></li>
						<li><a href="tel:18882073226"><span class="icon-phone">Parts</span></a></li>
					</ul>
				</div>
				<div class="find" style="background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=41.264830, -96.188350&zoom=16&size=300x200&sensor=false&markers=color:red%7Clabel:C%7C41.264830, -96.188350');">
					<a class="findable" href="https://www.google.com/maps/dir//''/@41.2648229,-96.2226255,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x0:0x6f391bb2b64a5b08!2m2!1d-96.188293!2d41.264828"></a>
				</div>
			</li>
		</ul>
		<a href="http://nissanusa.com" class="nissan_logo"><%= image_tag("nissan_logo.png") %></a>
	</nav>
</div>
<div></div>