<!DOCTYPE html>
<html lang="en"  ng-app="vauto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="<%= asset_path('favicon.png') %>" />
    <title><%= content_for?(:title) ? "Nissan of Omaha | " +  yield(:title) : "Nissan of Omaha" %></title>
    <% if Rails.env.production? && !signed_in? %>
    <script type="text/javascript">
    window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;window.analytics.methods.length>i;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
    window.analytics.load("pl9pheu8en");
    window.analytics.page();
    </script>
    <% end %>
    <%= stylesheet_link_tag    "application" , media: 'all'%>
    
    <%= javascript_include_tag "application" %>
    
    <!--START: CarChat24 Monitoring and Tracking Code: Put this in the HEAD section of your HTML Page -->
    <script type="text/javascript">
      _siteid = "138479c9-7a2c-47b9-86f2-292cdcbdef2f";
      _subscriberId  = "db5aa9e4-2b4e-426b-a2e1-03f11a2697af";
      function comCC24StartFunctioning(scriptSource) {
        var scrDynamicHeadAttr = document.createElement('script');
        scrDynamicHeadAttr.setAttribute('src', scriptSource);
        scrDynamicHeadAttr.setAttribute('type', 'text/javascript');
        scrHeadAttr = document.getElementsByTagName('head')[0];
        scrHeadAttr.insertBefore(scrDynamicHeadAttr, scrHeadAttr.firstChild);
      }

      comCC24StartFunctioning(window.location.protocol + "//service11.carchat24.com/VisitorManager/Scripts/comCC24DomReady.js");
    </script>
    <!--END: CarChat24 Monitoring and Tracking Code-->

    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv-printshiv' %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>

  <body>
		<%= render "layouts/header" %>
    <%= yield %>
		<%= render "layouts/footer" %>
    
    <%= javascript_tag do %> 
      analytics.track("<%= yield(:title) %>");
    <% end %>
  </body>
</html>