<p id="notice"><%= notice %></p>

<p>
  <strong>Primary first name:</strong>
  <%= @credit_application.primary_first_name %>
</p>

<p>
  <strong>Primary last name:</strong>
  <%= @credit_application.primary_last_name %>
</p>

<p>
  <strong>Primary address:</strong>
  <%= @credit_application.primary_address %>
</p>

<p>
  <strong>Primary city:</strong>
  <%= @credit_application.primary_city %>
</p>

<p>
  <strong>Primary state:</strong>
  <%= @credit_application.primary_state %>
</p>

<p>
  <strong>Primary zip code:</strong>
  <%= @credit_application.primary_zip_code %>
</p>

<p>
  <strong>Primary contact phone:</strong>
  <%= @credit_application.primary_contact_phone %>
</p>

<p>
  <strong>Primary email:</strong>
  <%= @credit_application.primary_email %>
</p>

<p>
  <strong>Primary time at residence:</strong>
  <%= @credit_application.primary_time_at_residence %>
</p>

<p>
  <strong>Primary monthly rent:</strong>
  <%= @credit_application.primary_monthly_rent %>
</p>

<p>
  <strong>Primary date of birth:</strong>
  <%= @credit_application.primary_date_of_birth %>
</p>

<p>
  <strong>Primary social security number:</strong>
  <%= @credit_application.primary_social_security_number %>
</p>

<p>
  <strong>Primary employer name:</strong>
  <%= @credit_application.primary_employer_name %>
</p>

<p>
  <strong>Primary employer phone:</strong>
  <%= @credit_application.primary_employer_phone %>
</p>

<p>
  <strong>Primary occupation:</strong>
  <%= @credit_application.primary_occupation %>
</p>

<p>
  <strong>Primary time on job:</strong>
  <%= @credit_application.primary_time_on_job %>
</p>

<p>
  <strong>Primary monthly income:</strong>
  <%= @credit_application.primary_monthly_income %>
</p>

<p>
  <strong>Joint first name:</strong>
  <%= @credit_application.joint_first_name %>
</p>

<p>
  <strong>Joint last name:</strong>
  <%= @credit_application.joint_last_name %>
</p>

<p>
  <strong>Joint address:</strong>
  <%= @credit_application.joint_address %>
</p>

<p>
  <strong>Joint city:</strong>
  <%= @credit_application.joint_city %>
</p>

<p>
  <strong>Joint state:</strong>
  <%= @credit_application.joint_state %>
</p>

<p>
  <strong>Joint zip code:</strong>
  <%= @credit_application.joint_zip_code %>
</p>

<p>
  <strong>Joint contact phone:</strong>
  <%= @credit_application.joint_contact_phone %>
</p>

<p>
  <strong>Joint email:</strong>
  <%= @credit_application.joint_email %>
</p>

<p>
  <strong>Joint time at residence:</strong>
  <%= @credit_application.joint_time_at_residence %>
</p>

<p>
  <strong>Joint monthly rent:</strong>
  <%= @credit_application.joint_monthly_rent %>
</p>

<p>
  <strong>Joint date of birth:</strong>
  <%= @credit_application.joint_date_of_birth %>
</p>

<p>
  <strong>Joint social security number:</strong>
  <%= @credit_application.joint_social_security_number %>
</p>

<p>
  <strong>Joint employer name:</strong>
  <%= @credit_application.joint_employer_name %>
</p>

<p>
  <strong>Joint employer phone:</strong>
  <%= @credit_application.joint_employer_phone %>
</p>

<p>
  <strong>Joint occupation:</strong>
  <%= @credit_application.joint_occupation %>
</p>

<p>
  <strong>Joint time on job:</strong>
  <%= @credit_application.joint_time_on_job %>
</p>

<p>
  <strong>Joint monthly income:</strong>
  <%= @credit_application.joint_monthly_income %>
</p>

<p>
  <strong>Interest model year:</strong>
  <%= @credit_application.interest_model_year %>
</p>

<p>
  <strong>Interest make:</strong>
  <%= @credit_application.interest_make %>
</p>

<p>
  <strong>Interest model:</strong>
  <%= @credit_application.interest_model %>
</p>

<p>
  <strong>Interest price:</strong>
  <%= @credit_application.interest_price %>
</p>

<p>
  <strong>Interest mileage:</strong>
  <%= @credit_application.interest_mileage %>
</p>

<p>
  <strong>Interest vin:</strong>
  <%= @credit_application.interest_vin %>
</p>

<p>
  <strong>Trade model year:</strong>
  <%= @credit_application.trade_model_year %>
</p>

<p>
  <strong>Trade make:</strong>
  <%= @credit_application.trade_make %>
</p>

<p>
  <strong>Trade model:</strong>
  <%= @credit_application.trade_model %>
</p>

<p>
  <strong>Trade price:</strong>
  <%= @credit_application.trade_price %>
</p>

<p>
  <strong>Trade mileage:</strong>
  <%= @credit_application.trade_mileage %>
</p>

<p>
  <strong>Trade vin:</strong>
  <%= @credit_application.trade_vin %>
</p>

<%= link_to 'Edit', edit_credit_application_path(@credit_application) %> |
<%= link_to 'Back', credit_applications_path %>
